<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bathroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,216},{204,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,324}}</string>
                <key>sourceSize</key>
                <string>{204,324}</string>
            </dict>
            <key>candle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,106},{16,68}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{16,68}}</string>
                <key>sourceSize</key>
                <string>{28,80}</string>
            </dict>
            <key>candle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,24},{20,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{26,80}</string>
            </dict>
            <key>candle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1002},{20,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>candle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1002},{20,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>candle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,24},{20,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>candle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1002},{20,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>candle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1002},{20,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,80}}</string>
                <key>sourceSize</key>
                <string>{24,80}</string>
            </dict>
            <key>door.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{212,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,332}}</string>
                <key>sourceSize</key>
                <string>{212,332}</string>
            </dict>
            <key>room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>yuge_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,964},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>yuge_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>yuge_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>う.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,964},{47,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>お.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>さ.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,964},{47,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>で.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,964},{47,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>と.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,964},{47,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>め.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ん.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>奈.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>広.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>日.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,964},{47,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>生.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>誕.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{54,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hepi-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7943068b21d81919d828bbf7adf57f9b$</string>
            <key>textureFileName</key>
            <string>Hepi-hd.png</string>
        </dict>
    </dict>
</plist>
