<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bathroom.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1444},{306,486}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,486}}</string>
			<key>sourceSize</key>
			<string>{306,486}</string>
		</dict>
		<key>room.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{960,1440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{960,1440}}</string>
			<key>sourceSize</key>
			<string>{960,1440}</string>
		</dict>
		<key>yuge_L.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{54,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,36}}</string>
			<key>sourceSize</key>
			<string>{54,36}</string>
		</dict>
		<key>yuge_M.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,40},{42,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{42,30}</string>
		</dict>
		<key>yuge_S.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,72},{30,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,18}}</string>
			<key>sourceSize</key>
			<string>{30,18}</string>
		</dict>
		<key>う.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,95},{9,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>お.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,84},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>さ.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,94},{9,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>で.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,94},{9,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>と.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,92},{9,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>め.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,83},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>ん.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,73},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>奈.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,72},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>広.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,62},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>日.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,92},{9,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>生.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,51},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>誕.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,40},{10,9}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Hepi-hd.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:da49f44e4c375128544080d8f1f0004b$</string>
		<key>textureFileName</key>
		<string>Hepi-hd.png</string>
	</dict>
</dict>
</plist>
